
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    background-image: url(bg.png);
    background-size: cover;
    background-position: center;
}

section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089da1;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

section nav ul{
    list-style: none;
}

section nav li{
   display: inline-block;
    padding: 0 10px;
}

section nav li a{
    text-decoration: none;
    color: #000;
}

section nav li a:hover{
    color: #089da1;
}

section nav .social_icon i{
    margin: 0 5px;
    font-size: 18px;
}

section nav .social_icon i:hover{
    color: #089da1;
    cursor: pointer;
}









:root {
    --main-color:#089da1;
}
* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-blend-mode: lighten;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
html {
    scroll-behavior: smooth;
    font-size: small;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 0.73vw; /* for vertical scrollbar */
    height: 0.37vw; /* for horizontal scrollbar */
}
::-webkit-scrollbar-track { /* المسار */
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb { /* القطعة يلي منمسكها لنحرك */
    background-color: var(--main-color); 
    border-radius: 0.73vw; 
}
.flexContainer {
    display: flex;
    margin: 3.85rem;
    padding: 2rem;
    width: 100%;
    align-items: center;
    image {
        max-width: 50%;
    }
}
#aboutt {

    p {
    margin-top: 1.563rem;
    margin-bottom: 2.813rem;
    line-height: 1.063rem;
    word-break: break-all;
    max-width: 36.6vw;
    }
    h1{
        font-size: 2.5rem;
    }
}
.child {
    flex: 1;
    max-width: 50%;
    height: auto;
    display: block;
    margin: 1.25rem;
    /*width:800px; height: 450px; margin-left: -70px;*/
}
.learn {
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    padding: 0.438rem 0.938rem;
    margin-top: 3.125rem;
}