


:root {
    --main-color:#089da1;
}
* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-blend-mode: lighten;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
html {
    scroll-behavior: smooth;
    font-size: small;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 10px; /* for vertical scrollbar */
    height: 5px; /* for horizontal scrollbar */
}
::-webkit-scrollbar-track { /* المسار */
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb { /* القطعة يلي منمسكها لنحرك */
    background-color: var(--main-color); 
    border-radius: 10px; 
}

section{
    width: 100%;
    height: 100vh;
    background-image: url(bg.png);
    background-size: cover;
    background-position: center;
}

section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089da1;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

section nav ul{
    list-style: none;
}

section nav li{
    display: inline-block;
    padding: 0 10px;
}

section nav li a{
    text-decoration: none;
    color: #000;
}

section nav li a:hover{
    color: #089da1;
}

section nav .social_icon i{
    margin: 0 5px;
    font-size: 18px;
}

section nav .social_icon i:hover{
    color: #089da1;
    cursor: pointer;
}

.flexContainer {
    display: flex;
    margin: 3.85rem;
    padding: 2rem;
    width: 100%;
    align-items: center;
    image {
        max-width: 50%;
    }
}
#aboutt {

    p {
    margin-top: 1.563rem;
    margin-bottom: 2.813rem;
    line-height: 1.063rem;
    word-break: break-all;
    max-width: 36.6vw;
    }
    h1{
        font-size: 2.5rem;
    }
}
.child {
    flex: 1;
    max-width: 50%;
    height: auto;
    display: block;
    margin: 1.25rem;
    /*width:800px; height: 450px; margin-left: -70px;*/
}
.learn {
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    padding: 0.438rem 0.938rem;
    margin-top: 3.125rem;
}
.h2 {
    font-size: 2.188rem;
    text-align: center;
    margin-top: 14.063rem;
}
.featuredParent {
    display: flex;
    /*justify-content: space-between;*/
    margin: 2.5rem;
    overflow-x: scroll;
    width: 100%;
}
.featuredChild {
    flex: 1;
    font-size: small;
    min-width: 200px;
    max-width: 300px;
    height: 345px;
    padding: 0.313rem;
    margin: 1.063rem;
    text-align: center;
    border: 1px solid #928484;
    img{
    width: 125px;
    height: 187px;
    } 
    a{
    text-decoration: none;
    color: black;
    border: 2px solid var(--main-color);
    padding: 0.313rem 0.938rem 0.625rem;
    }
    h1 {
    font-size: 1.125rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    }
    .thriller {
        color: var(--main-color);
    }
}
.featuredChild:hover {
    box-shadow: 0px 0px 3px 0px var(--main-color);
}
.dollars {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.313rem;
}
.dollar1 {
    text-align: center;
    padding: 0.125rem;
    padding-bottom: 0.625rem;
}
.dollar2 {
    text-decoration: line-through;
    padding: 0.125rem;
    font-size: 0.625rem;
}
.john {
    color: rgb(159 151 151);
    padding-bottom: 0.625rem;
}
.learn2 {
    margin-top: 3.125rem;
    text-decoration: none; 
    border: 2px solid var(--main-color); 
    padding: 0.438rem 0.938rem; 
    color: black;
}
.arrivalsParent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.25rem 1.5rem 10.625rem 1.5rem;
}
.arrivalsChild {
    flex: 0 0 ;
    box-sizing: border-box;
    min-width: 180px;
    max-width: 280px;
    height: 275px;
    margin: 0.5rem 2.125rem;
    text-align: center;
    border: 1px solid #928484;
    p, a {
        padding-bottom: 0.375rem;
    }
    p {
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    }
    i {
    padding-bottom: 0.938rem;
    color: var(--main-color);
    }
}
.arrivalsChild:hover {
    box-shadow: 0px 0px 3px 0px var(--main-color);
    cursor: pointer;
}
@media (max-width: 1024px) {
.arrivalsParent {
    grid-template-columns: repeat(2, 1fr); /* صفين فقط */
}
}

.imgContainer {
    width: 125px;
    height: 187px;
    overflow: hidden;
    margin: auto;
    position: relative;
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    }
}

.imgContainer :hover {
    transform: scale(1.2);
}
@media screen and (max-width: 768px)
{
    .flexContainer{
        width: calc(100%-1.46vw);
        padding: 0.769rem;
        /*display: block;*/
    }
    .about p{
        width: 100%;
    }
    #about p{
        width: 100%;
        max-width: 70.6vw;
    }
    .child {
        max-width: 100%;
    }
    .about 
    .featuredParent {
        flex-direction: column;
        padding: 2rem;
        text-align: center;
    }
}
@media screen and (max-width: 450px)
{
    .child {
        margin: 3.5rem;
    }
    .arrivalsParent {
    grid-template-columns: repeat(1, 1fr); /* صفين فقط */
}
}
@media screen and (max-width: 1250px)
{
    .flexContainer {
        margin: 0px;
    }
    .featuredParent {
        margin: 0px;
    }
    .child img {
        width: 48.76vw;
    }
}
@media screen and (max-width: 700px)
{
    .flexContainer {
        display: block;
    }
}









/*reviews*/
:root {
    --main-beige:#eaeaea;;
}
:root {
    --main-Turquoise:#089da1;
}
:root {
    --main-Black:black;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ReviewsSection
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 3vw -1vw;
    font-size:x-large;
    margin-top: 2vw;
}
.ReviewsTitle
{
    font-size: 3vw;
    margin-bottom: 5vw;
}
.ReviewsContainer
{
    display: flex;
    justify-content: center;
    gap: 1.2vw;
    flex-wrap: wrap;
}
.Card
{
    width: 23vw;
    height: 23vw;
    padding: 1vw;
    box-shadow: 0 0 5px #008080;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    transition: transform 0.3s ease;

}
.User_avatar_quote {
    display: flex;
    align-items: center;
    column-gap: 6.5vw;
    margin-top: -1.521vw;
    justify-content: space-around;

    img 
    {
        width: 6vw;
        height: 6vw;
        object-fit: cover;
        border-radius: 50%;
    }

    i 
    {
        font-size: 9vw;
        color:var(--main-beige);
        opacity: 0.6;
    }
    
}
.UserName_Paragraph
{
    h2
{
    font-size: 1.2vw;
    text-align: left;
    margin: 1vw 0 0.5vw;
}
p
{
    font-size: 0.9vw;
    text-align: justify;
    color: #333;
    line-height: 1.5;
}

}
.Icons
{
    margin-bottom: 1vw;
    display: flex;
    margin-top: 1vw;

    i
    {
        font-size: 1vw;
        color: var(--main-Turquoise);
    }

}


/*Banner*/
.Banner
{
    width: 100%;
    height: 26vw;
    background-image: url(./images/banner.jpg);
    background-size: cover;
    margin-top: 6vw;
}
.BtnBanner 
{
    background-color: rgb(0, 128, 128);
    color: rgb(255, 255, 255);
    font-size: 0.9vw;
    cursor: pointer;
    margin-left: -78vw;
    margin-top: 17.5vw;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0.45vw 1.1vw;
    transition: background 0.3s ease-in-out;

}

/*Blog*/

.Blog
{
    font-size: 2vw;
    margin-top: 1.5vw;

}
.BlogContainer
{
    padding: 1vw;
    display: flex;
    justify-content: center;
    margin-left: 7vw;
    margin-right: 7vw;
    justify-content: center;
    gap: 6vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
}
.Bloger_i
{
    width: 27vw;
    height: 31vw;
    box-shadow: 0 0 5px rgb(93, 93, 93);
    position: relative;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    background-color: white;
    margin: -1vw;
}
.BlogImg img
{
    width: 100%;
    height: 17.823vw;
    object-fit: cover;
}

.Bloger
{
    width: 27vw;
    h2
    {
        display: flex;
        font-size: 1.5vw;
        padding-left: 1vw;
        margin-top: 0.5vw;
        color:var(--main-Turquoise);
    }
    p
    {
        font-size: 1vw;
        text-align: justify;
        color: #333;
        line-height: 1.5;
        padding-right: 1vw;
        padding-left: 1vw;
        margin-top: .5vw;
    }
}

.BlogIcons
{
    font-size: 1.1vw;
    display: flex;
    justify-content: space-around;
    gap: 20.5vw;

    i
    {
        color:var(--main-Turquoise);
    }
}


/*Footer*/
.Footer
{
    width: 100%;
    background-color:#e7e7e7;
}
.FooterContainer
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0vw 5vw 2vw 5vw;

}

.FooterLogo
{
    padding: 3.083vw;
    flex: 0 0 20%;

    img
    {
        width: 8vw;
        margin-left: -6vw;
        margin-top: -1vw;

    }

    p
    {
        font-size: 1vw;
        text-align: justify;
        justify-content: flex;
        margin-top: 1vw;

    }


}

.FooterLinks
{
    padding: 2.083vw;
    flex: 0 0 17%;

    h1
    {
        font-size: 1.5vw;
        margin: 1.5vw 0 1.5vw 0;
        color:var(--main-Black);
    }
    a
    {
        display: flex;
        color:var(--main-Black);
        text-decoration: none;
        margin: 0.417vw 0;
        font-size: 1vw;
        margin-left: 2.2vw;
    }

}
.FooterContact
{
    padding: 2.083vw;
    flex: 0 0 17%;

    h1
        {
        font-size: 1.5vw;
        margin: 1.5vw 0 1.5vw 0;
        color:var(--main-Black);
        }
        a 
        {
            display: flex;
            color:var(--main-Black);
            text-decoration: none;
            margin: 0.417vw 0;
            font-size: 1vw;
            margin-left: 2.2vw;
        }
        i
        {
            margin-right: 0.5vw;
        }
}
.FooterSocial
{
    padding: 2.083vw;
    flex: 0 0 13%;

    h1
    {
        font-size: 1.5vw;
        margin: 1.5vw 0 0.7vw 0;
        color:var(--main-Black);
    }

    a
    {
        color:var(--main-Black);
        text-decoration: none;
        font-size: 1vw;
        display: inline;
    }

    i
    {
        margin: 0.417vw 0;
        
    }
}
.FollowUsIcons
{
    display: flex;
    justify-content: space-around;
}

.FooterNewsletter
{
    padding: 2.083vw;
    flex: 0 0 20%;

    h1
    {
    font-size: 1.5vw;
    margin: 1.2vw 0 1.2vw -6vw;
    color:var(--main-Black);
    }

    button 
    {
        border: none;
        width: 7vw;
        height: 2.3vw;
        background-color: #008080;
        border-radius: 2vw;
        cursor: pointer;
        color: white;
        font-size: 1vw;
        margin-right: 7vw;
        margin-top: 0.2vw;
    }
}

.Subscraib
{
    width: 18vw;
    height: 2.5vw;
    background: #cdcaca;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    margin-left: 4vw;

    input
    {
    
        height: 100%;
        border: none;
        outline: none;
        font-size: 1vw;
        background: none;
        padding-left: 1vw;
    }

}
.End
{
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--main-Black);
    font-size: 1vw;
    padding: 1vw;

    span
    {
        color: #008080;
        margin-left: 0.5vw;
    }
}
