/*reviews*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ReviewsSection
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 3vw 0;
    font-size:x-large;
}
.ReviewsTitle
{
    font-size: 3vw;
    margin-bottom: 5vw;
}
.ReviewsContainer
{
    display: flex;
    justify-content: center;
    gap: 1.2vw;
    flex-wrap: wrap;
}
.Card
{
    width: 22vw;
    padding: 1vw;
    box-shadow: 0 0 5px #008080;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    transition: transform 0.3s ease;

}